body{
      width: 70%;
      margin: auto;
    }
    textArea {
      width: 100%;
      margin-top: 2px;
      border: 0;
      color: #003366;
      font-size: 12pt;
      font-family: Arial;
      outline:none;
    }
    .halfWidth {
      width: 50%;
      color: #E18A07;
      font-size: 12pt;
      font-family: Arial;
      outline:none;
    }
    #chat{
      font-size: 12pt;
      font-family:'Open sans', sans-serif;
      resize:both;
      overflow:auto;
    }

    #container {
      overflow: auto;
      width: 100%;
      height: 80%;
    }
